*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
ios_reference/telnyx-voice-demo-ios/
backend_reference/telnyx-voice-demo-backend/
/twilio_logic/build
/twilio_logic/build
app/google-services.json
